<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="calculator.css">
</head>

<body>
    <div class="calculator container">
        <div class="row">
            <input type="text" name="" id="" class="col screen">
        </div>
        <div class="buttons container row">
            <div class="row">
                <button class="col calc-button" id="AC">AC</button>
                <button class="col calc-button" id="Delete">Delete</button>
                <button class="col calc-button" id="Percent">Percent</button>
                <button class="col calc-button" id="divide">divide</button>
            </div>
            <div class="row">
                <button class="number col calc-button" id="seven">7</button>
                <button class="number col calc-button" id="eight">8</button>
                <button class="number col calc-button" id="nine">9</button>
                <button class="col calc-button" id="multiply">multiply</button>
            </div>
            <div class="row">
                <button class="number col calc-button" id="four">4</button>
                <button class="number col calc-button" id="five">5</button>
                <button class="number col calc-button" id="six">6</button>
                <button class="col calc-button" id="minus">minus</button>
            </div>
            <div class="row">
                <button class="number col calc-button" id="one">1</button>
                <button class="number col calc-button" id="two">2</button>
                <button class="number col calc-button" id="three">3</button>
                <button class="col calc-button" id="plus">plus</button>
            </div>
            <div class="row">
                <button class="number col calc-button" id="button">button</button>
                <button class="number col calc-button" id="zero">0</button>
                <button class="number col calc-button" id="dec-point">.</button>
                <button class="col calc-button" id="equal">equal</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>